{% extends 'base.html' %}


{% block content %}

<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <div class="container">
      <a class="navbar-brand">CoffeesHop</a>

      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navmenu"
      >
          <span class="navbar-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="/home" class="nav-link"> Home </a>
              </li>
              <li>
                <a href="/profile" class="nav-link"> Profile </a>
              </li>
              <li>
                <a href="/users" class="nav-link"> All users </a>
              </li>
              <li>
                  <a href="/logout" class="nav-link"> Log out </a>
              </li>
          </ul>
      </div>
  </div>
</nav>


<div class="container text-center">
  <h1> Welcome back {{ session["current_user"] }}! </h1>
</div>

<div class="container text-light">
    <div class="row">
      <div>
        <b>What would you like to do?</b>
      </div>
      <div>
        <h3>Search for Shops!</h3>
        <form method="GET" action="/shop/search">
          <label class="form-label" for="search-zip">Enter Zip Code:</label>
    
            <div class="input-group shop-input">
              <input
                  id="search-zip"
                  class="form-control"
                  type="text"
                  name="zipcode"
                  placeholder="Zip Code"
                  required
                >
            </div>
              <input type="submit" value="Look for shops" class="button btn-dark btn-lg"> 
        </form>
      </div>
    </div>
</div>

{% endblock %}
