{% extends 'base.html' %}


{% block content %}
<div class="container text-center py-5 px-5 text-light">
  <div class="row">
    <div class="col-lg-3 col-md-6 order-sm-2">
      <!-- Log in form -->
      <p>
        <b> Please log in or sign up below.</b>
      </p>
      <p>
        <h2> Log In </h2>
      </p>
      <form action="/get-user" method="POST">
        <p>
          Username <input type="text" name="username" required>
        </p>
        <p>
          Password <input type="password" name="password" required>
        </p>
        <div>
          <button type="submit" class="btn btn-outline-warning">Sign In</button>
        </div>
      </form>
      <br>
      <br>
      <p>
        Small blurb goes here blah blah open to all and blah safe and welcoming place blah blah
      </p>
    </div>
    <div class="container col-lg-9 col-md-6 order-sm-1">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="/static/img/carousel1.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel9.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel3.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel7.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel10.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel6.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/img/carousel2.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


