{% extends 'base.html' %}


{% block content %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <div class="container">
      <img class="navbar-icon" src='/static/img/coffee-cup-1.svg'/>
      <a class="navbar-brand"> CoffeesHop </a>

      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navmenu"
      >
          <span class="navbar-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="/" class="nav-link">Log In</a>
              </li>
              <li>
                  <a href="/register" class="nav-link">Register</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="flash_msg">
  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert"> {{ message }} </div>
    {% endfor %}
  {% endwith %}
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 order-sm-2">
      <div class="title" id="log-form">
        <!-- Log in form -->
        <br>
        <div><h1> CoffeesHop </h1></div>
        <br>
        <div><h4> Log In </h4></div>
        <form action="/get-user" method="POST">
          <p>
            Username <input type="text" name="username" maxlength="20" required>
          </p>
          <p>
            Password <input type="password" name="password" required>
          </p>
          <div>
            <button type="submit" class="button">Sign In</button>
          </div>
        </form>
        <br>
        <p>
          <h6>Find a space with restrooms!</h6><br>
          Shops that <b>welcome everyone</b>, 
          regardless of race, ethnicity, national origin, sex, 
          sexual orientation, gender identity and expression, religion or disability.
        </p>
      </div>
    </div>
    <div class="container col-lg-8 col-md-6 col-sm-6order-sm-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="/static/img/c1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/img/c2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/img/c3.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/img/c4.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/img/c5.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/img/c6.jpg" class="d-block w-100">
            </div>            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>
</div>

{% endblock %}