{% extends 'base.html' %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
    <div class="container">
        <img class="navbar-icon" src='/static/img/coffee-cup-1.svg'/>
        <a class="navbar-brand">CoffeesHop</a>
  
        <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navmenu"
        >
            <span class="navbar-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link"> Home </a>
                </li>
                <li>
                  <a href="/profile" class="nav-link"> Profile </a>
                </li>
                <li>
                  <a href="/users" class="nav-link"> All users </a>
                </li>
                <li>
                    <a href="/logout" class="nav-link"> Log out </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="title">
        <br><h1>Your shop reviews:</h1><br>
    </div>
    <div class="title">
        <div class="scroll" id="font-color">
            {% for rev in user_reviews %}
                <div>         
                    <h5><a href= "/review/{{ rev.shop.yelp_id}}"> {{ rev.shop.shop_name }} </a></h5>
                    <br> {{ rev.review }} </br>
                </div>
                <div class="review-separation">
                    <img class="review-images" src=" {{ rev.img_url }}"><br>
                </div>
                <br>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}