 {% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <div class="container">
      <img class="navbar-icon" src='/static/img/coffee-cup-1.svg'/>
      <a class="navbar-brand">CoffeesHop</a>

      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navmenu"
      >
          <span class="navbar-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li>
              <a href="/" class="nav-link">Sign In</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

<div class="flash_msg">
  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert"> {{ message }} </div>
    {% endfor %}
  {% endwith %}
</div>

<div class="container">
  <div class="box">
    <h2><b>Create an Account</b></h2>
    <form action="/register-user" method="POST">
      <p>
        Username <input type="text" name="username" maxlength="20" required>
      </p>
      <p>
        Email <input type="text" name = "email" maxlength="40" required>
      </p>

      <p>
        Password <input type="password" name="password" required>
      </p>

      <p>
        <button class="button" type="submit">Register</button>
      </p>
    </form>
  </div>
</div>

{% endblock %}