{% extends 'base.html' %}

{% block title %}Find shops{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Search for Shops!</h2>

      <form method="GET" action="/shop/search">
        <div class="row">
          <label class="form-label" for="search-zip">Zip Code</label>

          <input
            id="search-zip"
            class="form-control"
            type="text"
            name="zipcode"
          >
        </div>
            <input type="submit" value="Look for shops" class="button">
          </div>
        </div>
      </form>
        <div>
          <a href='/home'>
            Go back to your home page
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}