{% extends 'base.html' %}

{% block title %}Find shops{% endblock %}

{% block content %}
<div class="container">
  <h2>Search for Shops!</h2>

    <form method="GET" action="/shop/search">
      <label class="form-label" for="search-zip">Enter Zip Code:</label>

        <div class="input-group">
          <input
              id="search-zip"
              class="form-control"
              type="text"
              name="zipcode"
              placeholder="Zip Code"
              required
            >
        </div>
          <input type="submit" value="Look for shops" class="button"> 
    </form>
</div>
{% endblock %}