{% extends 'base.html' %}
{% block head %} 
    <h1> {{ business_info['name'] }} </h1>
{% endblock %}

{% block content %}
<div class= row>
    <p>
        <b>Price level:</b> {{ business_info['price']}}
    </p>
    <p>
        <b>Address:</b> {{ business_info['location']['display_address'][0] }}, {{ business_info['location']['display_address'][1] }}
    </p>
    <div>
        <b>Hours:</b> 
        <div>
        Monday: {{ business_info['hours'][0]['open'][0]['start']}} - {{ business_info['hours'][0]['open'][0]['end']}}
        </div>
        <div>
        Tuesday: {{ business_info['hours'][0]['open'][1]['start']}} - {{ business_info['hours'][0]['open'][1]['end']}}
        </div>
        <div>
        Wednesday: {{ business_info['hours'][0]['open'][2]['start']}} - {{ business_info['hours'][0]['open'][2]['end']}}
        </div>
        <div>
        Thursday: {{ business_info['hours'][0]['open'][3]['start']}} - {{ business_info['hours'][0]['open'][3]['end']}}
        </div>
        <div>
        Friday: {{ business_info['hours'][0]['open'][4]['start']}} - {{ business_info['hours'][0]['open'][4]['end']}}
        </div>

        {% if business_info['hours'][0]['open']|length > 5 %}
        Saturday: {{ business_info['hours'][0]['open'][5]['start']}} - {{ business_info['hours'][0]['open'][5]['end']}}
        <div>
        Sunday: {{ business_info['hours'][0]['open'][6]['start']}} - {{ business_info['hours'][0]['open'][6]['end']}}
        </div>
        {% endif %}
    </div>

    
{% endblock %}